$primary-color: #02f4bf;
$secondary-color: #e15544;
$text-color: #ffffff;

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin custom-scrollbar {
  scrollbar-width: none;
  &::-webkit-scrollbar {
    height: 8px;
  }
  &::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  &::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
    &:hover {
      background: #555;
    }
  }
}

.TestimonialsWrapper {
  @include flex-column;
  max-width: 1440px;
  width: 100%;
  margin-inline: auto;
  padding: 10px 50px 40px;
  gap: 60px;

  h3 {
    font-size: 24px;
    font-weight: 700;
    color: $secondary-color;
  }

  h4 {
    font-size: 18px;
    line-height: 25.2px;
    color: $primary-color;
    font-weight: 400;
    padding: 8px 0 32px;
  }
}

.AllTestimonials {
  display: flex;
  gap: 32px;
}

.Testimonials {
  flex: 1;

  p {
    font-size: 16px;
    font-weight: 400;
    color: $primary-color;
    line-height: 21.6px;
  }
}

svg {
  min-width: 70px;
  min-height: 104px;
  max-width: 70px;
  max-height: 104px;
  flex-grow: 0;
}

@media screen and (max-width: 768px) {
  .TestimonialsWrapper {
    padding-inline: 20px;
    overflow-x: hidden;

    h3 {
      text-align: center;
    }
  }

  .AllTestimonials {
    overflow-x: auto;
    white-space: nowrap;
    padding-bottom: 16px;
    -webkit-overflow-scrolling: touch;
    @include custom-scrollbar;
  }

  .Testimonials {
    flex: 0 0 auto;
    width: 250px;
    overflow-y: auto;
    height: 500px;
    font-size: 10px;
    padding: 0 10px 10px;
    border: 1px solid $text-color;
    text-align: center;
    white-space: normal;
  }

  svg {
    display: none;
  }
}
