.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100dvh;
}

.heroWrapper {
  display: flex;
  justify-content: space-between;
  max-width: 1440px;
  width: 100%;
  margin-inline: auto;
  padding-top: 5px;
}

.introduction {
  padding-left: 50px;
}

.contactMeButton {
  margin-left: 50px;
  margin-top: 120px;
}

button {
  cursor: pointer;
  rotate: 180deg;
  border: 1px #02f4bf solid;
  padding-top: 20px;
  padding-right: 10px;
  padding-bottom: 20px;
  padding-left: 10px;
  gap: 10px;
  background: transparent;
  color: #e15544;
  font-weight: 500;
  font-size: 18px;
  line-height: 21.6px;
  writing-mode: vertical-lr;
  text-transform: uppercase;

  &:hover {
    transition: color 300ms ease-in-out;
    color: #02f4bf;
  }
}

.introduction {
  color: #02f4bf;
  h1 {
    font-size: 82px;
    line-height: 98.4px;
    font-weight: 700;
  }

  h2 {
    font-size: 54px;
    line-height: 65px;
    font-weight: 500;
    font-family: Roboto Mono;
    text-transform: uppercase;
  }
}

.leftHeroSection {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.unneccaressaryArrowDown {
  display: flex;
  align-items: center;
  cursor: pointer;
  min-height: 100%;
  fill: #e15544;

  &:hover {
    fill: white;
  }
}

@media screen and (max-width: 1205px) {
  .introduction h1 {
    font-size: 48px;
    line-height: 98.4px;
    font-weight: 700;
  }
}

@media screen and (max-width: 975px) {
  .introduction h2 {
    font-size: 26px;
  }

  .unneccaressaryArrowDown img {
    width: 80px;
    height: 80px;
  }

  .introduction h1 {
    font-size: 26px;
  }

  .unneccaressaryArrowDown {
    display: none;
  }

  .contactMeButton {
    button {
      padding: 10px 5px;
      font-size: 14px;
      line-height: 21.6px;
      margin-top: 60px;
    }
  }
}
@media screen and (max-width: 778px) {
  .hero {
    display: flex;
  }

  .introduction {
    padding-left: 0px;
  }

  .introduction h2 {
    font-size: 20px;
    line-height: 30px;
  }
  .introduction h1 {
    font-size: 20px;
    line-height: 50px;
  }

  img {
    width: 300px;
    height: 350px;
  }

  .unneccaressaryArrowDown img {
    display: none;
  }

  .contactMeButton {
    margin-top: 0px;
  }
  .heroWrapper {
    justify-content: center;
    flex-direction: column-reverse;
    align-items: center;
  }
  .introductionWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;
  }

  .introduction {
    text-align: center;
  }

  .contactMeButton {
    display: none;
  }
}
