<section class="hero">
    <div class="heroWrapper">
        <div class="leftHeroSection">
            <div class="contactMeButton">
                <button>Contact Me</button>
            </div>
            <div class="introduction">
                <h2>Frontend Developer</h2>
                <h1>David Werner</h1>
            </div>
        </div>
        <div class="unneccaressaryArrowDown">
            <img src="/arrows/Hero Arrow down.svg" alt="">
        </div>
        <div class="rightHeroSection">
            <div class="imageContainer">
                <img src="/imagePlaceholder.svg" alt="">
            </div>
        </div>
    </div>
</section>