$primary-color: #02f4bf;
$secondary-color: #e15544;
$text-color: #827b7b;

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contactMeWrapper {
  @include flex-center;
  justify-content: space-between;
  align-items: flex-end;
  max-width: 1440px;
  width: 100%;
  margin-inline: auto;
  padding: 10px 50px 40px;

  > svg {
    cursor: pointer;
    fill: $secondary-color;
    &:hover {
      fill: $primary-color;
      border: 1px solid $primary-color;
    }
  }
}

.contactMe {
  display: flex;
  flex-direction: column;
  gap: 0.8125rem;
  font-size: 54px;
  line-height: 65px;
  font-weight: 500;
  color: $secondary-color;

  p {
    font-size: 18px;
    line-height: 21.6px;
    text-align: justify;
    color: $primary-color;
  }
}

.catchPhrase {
  width: 42%;
}

%contact-info {
  display: flex;
  align-items: center;
  fill: $secondary-color;
  gap: 0.875rem;

  span {
    font-size: 20px;
    font-weight: 500;
    color: $primary-color;
    line-height: 24px;
  }

  svg {
    &:hover {
      fill: $primary-color;
    }
  }
}

.mail {
  @extend %contact-info;
  cursor: pointer;
}

.Phone {
  @extend %contact-info;
  text-decoration: none;
}

.bottomSection {
  display: flex;
  gap: 45px;
}

.contactInformation {
  display: flex;
  justify-content: center;
  gap: 14px;
  flex-direction: column;
  width: 60%;
}

.upperSection {
  display: flex;
  width: 100%;
  align-items: flex-end;
  gap: 24px;
}

img {
  padding-bottom: 8px;
}

.agreeSection {
  p {
    color: $primary-color;
    font-size: 14px;
    font-weight: 400;
  }
}

.privPolicyColored {
  color: $secondary-color;
}

input.custom {
  border-color: $secondary-color;
  background: none;
}

.sendRequestButton {
  display: flex;
  color: $text-color;
  padding: 15px 30px;
  gap: 10px;
  background: transparent;
  border: 1px solid $text-color;
}

@media screen and (max-width: 1370px) {
  .upperSection {
    justify-content: center;
  }
  .bottomSection {
    @include flex-center;
    gap: 70px;
    & p,
    span {
      font-size: 16px;
    }
  }

  .contactInformation {
    width: 33%;
  }
}

@media screen and (max-width: 968px) {
  .upperSection {
    justify-content: center;
  }
  .bottomSection {
    @include flex-center;
    flex-direction: column;
    & p {
      font-size: 14px;
      line-height: 16.8px;
    }

    .contactInformation {
      @include flex-center;
      & span {
        text-align: center;
        font-size: 14px;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .upperSection {
    justify-content: center;
    h3 {
      font-size: 24px;
      line-height: 25px;
      text-align: center;
    }
    & svg {
      display: none;
    }
  }

  .bottomSection {
    @include flex-center;
    flex-direction: column;
    text-align: center;
    & p {
      font-size: 14px;
      line-height: 16.8px;
      text-align: center;
    }
  }

  .catchPhrase {
    font-size: 25px;
    line-height: 30px;
    text-align: center;
  }

  .contactMeWrapper img,
  .contactInformation {
    display: none;
  }
}
