<section>
    <div class="whyMeWrapper">
        <div class="whyMe">
            <img src="/Why_me_placeholder.svg" alt="">
        </div>
        <div class="WhyMeRight">
            <div class="WhyMeDescription">
                <h2>{{ 'whyMe.whyMe' | translate }}</h2>
                <p>{{ 'whyMe.description' | translate}}</p>
            </div>
            <div class="roadmap">
                <div class="description">
                    <div class="located">
                        <h3>{{'whyMe.Iam' | translate}}</h3>
                        <div class="locatedText">
                            <img src="/AboutMeIcons/locationIcon.svg" alt="">
                            <p> {{ 'whyMe.locatedText' | translate}}</p>
                        </div>
                    </div>

                    <div class="relocate">
                        <img src="/arrows/ArrowDown.svg" alt="">
                    </div>
                    <div class="remote">
                        <div class="remoteText">
                            <img src="/AboutMeIcons/computerIcon.svg" alt="computerIcon">
                            <p>{{ 'whyMe.remoteWork' | translate}}</p>
                        </div>
                        <img class="remoteImage" src="/arrows/Arrow.svg" alt="">
                    </div>
                </div>
                <div class="letsTalkButton">
                    <button>
                        <p>{{ 'whyMe.letsTalkButton' | translate}}</p>
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>