.whyMeWrapper {
  display: flex;
  justify-content: space-between;
  max-width: 1440px;
  width: 100%;
  margin-inline: auto;
  padding-inline: 50px;
  padding-top: 5px;
}

.description {
  display: flex;
  flex-direction: column;
  h3 {
    font-size: 26px;
    font-weight: bold;
    color: #e15544;
  }

  p {
    font-size: 16px;
    color: #02f4bf;
    font-weight: 400;
    line-height: 21.6px;
  }
}

.WhyMeRight {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.located {
  display: flex;
  align-items: center;
  gap: 64px;
  padding-left: 85px;
  .locatedText {
    display: flex;
    align-items: center;
    gap: 17px;
  }
}
.relocate {
  display: flex;
  align-items: center;
  gap: 208px;
  padding-left: 152px;
  .relocateText {
    display: flex;
    align-items: center;
  }
}
.remote {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 168px;
  .remoteText {
    display: flex;
    align-items: center;
  }
}

.WhyMeDescription {
  display: flex;
  flex-direction: column;
  gap: 28px;
  h2 {
    font-size: 54px;
    line-height: 64.8px;
    text-align: right;
    color: #e15544;
  }
  p {
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
    color: #02f4bf;
    text-align: right;
    padding-left: 30px;
    padding-left: 10px;
  }
}

button {
  background: #02f4bf;
  padding: 15px 30px 15px 30px;
  border: none;
  color: #0b042d;
  font-size: 18px;
  font-weight: 500;

  &:hover {
    color: #e15544;
  }
}

.letsTalkButton {
  display: flex;
  padding-left: 352px;
  justify-content: end;
}

.roadmap {
  display: flex;
  flex-direction: column;
  gap: 33px;
  padding-left: 300px;
}

@media screen and (max-width: 1330px) {
  .whyMe img {
    width: 350px;
    height: 350px;
  }

  .WhyMeDescription {
    h2 {
      font-size: 40px;
      line-height: 48px;
      display: flex;
      justify-content: center;
    }
  }
  .roadmap {
    padding-left: 10px;
  }
}

@media screen and (max-width: 984px) {
  .whyMe img {
    width: 250px;
    height: 250px;
  }

  .WhyMeDescription {
    line-height: 15;
  }

  .located {
    padding-left: 10px;
    gap: 32px;
  }

  .relocate {
    padding-left: 10px;
  }

  .remote {
    padding-left: 10px;
    justify-content: unset;
  }

  .remoteText {
    p {
      font-size: 16px;
      padding-left: 17px;
    }
  }

  .remoteImage {
    img {
      width: 27px;
      height: 60px;
    }
  }

  .letsTalkButton {
    padding-left: 290px;
    justify-content: unset;
  }
}

@media screen and (max-width: 786px) {
  .whyMeWrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .roadmap {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .whyMe img {
    display: none;
  }
  .WhyMeDescription {
    h2 {
      font-size: 30px;
      line-height: 32px;
    }

    p {
      font-size: 12px;
      text-align: center;
    }
  }

  .located {
    display: flex;
    flex-direction: column;
    h3 {
      font-size: 14px;
    }
  }

  .locatedText {
    p {
      font-size: 12px;
    }

    img {
      width: 24px;
      height: 24px;
    }
  }

  .remoteText {
    p {
      font-size: 12px;
    }
  }

  .relocate {
    img {
      width: 25px;
      height: 40px;
    }
  }

  .remoteImage {
    width: 25px;
    height: 40px;
    margin-left: 10px;
  }

  .letsTalkButton {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 20px;
    margin-bottom: 40px;
    p {
      font-size: 12px;
      padding-left: 15px;
    }
  }

  .description {
    display: flex;
    flex-direction: column;
  }

  .whyMeWrapper {
    margin: 0px;
    padding: 0px;
  }
}
