.privacy-Policy {
  color: white;
  max-width: 1440px;
  margin: 0 auto;
  padding: 50px 20px;

  &-site {
    h1,
    h2,
    h3,
    h4 {
      margin-top: 1.5em;
      margin-bottom: 0.5em;
    }

    p,
    ul {
      margin-bottom: 1em;
    }

    ul {
      padding-left: 20px;
    }

    a {
      color: #02f4bf;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

@media (max-width: 768px) {
  .privacy-Policy {
    padding: 30px 15px;
  }
}
