.SkillsWrapper {
  max-width: 1440px;
  width: 100%;
  padding-top: 5px;
  margin-inline: auto;

  h3 {
    font-size: 54px;
    color: #e15544;
    line-height: 64.8px0;
  }

  img {
    width: 88px;
    height: 100px;
  }
}

.Skills {
  width: 1000px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 100px 120px;
  margin-inline: auto;
  justify-content: center;

  .ChallengeMeText {
    cursor: pointer;
    grid-column: span 2;
    font-size: 14px;
    color: rgba(2, 244, 191, 1);
    visibility: hidden;
  }
}

.ChallengeMe {
  &:hover + .ChallengeMeText {
    visibility: visible;
  }
}

.Skillstext {
  line-height: 25.2px;
  font-weight: 700;
  color: #02f4bf;
  font-size: 18px;
  text-align: center;
}

.skillsIntroduction {
  padding-block: 40px;
  display: flex;
  margin-inline: auto;
  justify-content: center;
  align-items: center;
}

section {
  margin-bottom: 105px;
}

@media screen and (max-width: 1200px) {
  .Skills {
    width: 700px;
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (max-width: 984px) {
  .Skillstext img {
    width: 60px;
    height: 60px;
  }
}

@media screen and (max-width: 850px) {
  .Skills {
    width: 650px;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px 15px;

    p {
      font-size: 14px;
    }
  }
}

@media screen and (max-width: 768px) {
  .skillsIntroduction {
    h3 {
      font-size: 36px;
    }
  }

  .Skillstext img {
    width: 40px;
    height: 40px;
  }

  .Skills {
    width: 300px;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px 15px;

    p {
      font-size: 14px;
    }
  }
}

@media screen and (max-width: 600px) {
  .Skills {
    width: 500px;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px 15px;
  }
}
