.contactForm {
  max-width: 1440px;
  width: 100%;
  margin-inline: auto;

  input,
  textarea {
    background: transparent;
    border: 1.5px solid #02f4bf;
  }

  .sendbutton {
    border: 1px solid #827b7b;
    color: #827b7b;
    font-size: 18px;
    font-weight: 500;
    line-height: 21.6px;
    padding: 15px 30px;
    gap: 0.625rem;
    margin-top: 60px;
  }

  textarea {
    width: 720px;
    height: 155px;
    color: white;

    &::placeholder {
      padding-left: 10px;
      padding-top: 10px;
      font-size: 14px;
    }
  }

  #name,
  #email {
    height: 56px;
    width: 550px;
    color: white;

    &::placeholder {
      padding-left: 10px;
    }
  }

  .contactFormWrapper {
    display: flex;
    max-width: 1440px;
    gap: 35px;
    margin-inline: auto;
    padding-inline: 50px;
  }

  .contactInformations {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 40%;
  }

  .textarea {
    display: flex;
    width: 60%;
  }

  .checkBoxSection {
    display: flex;
    margin-inline: auto;
    padding-inline: 50px;
    padding-block: 20px;
    color: #02f4bf;
    justify-content: space-between;
  }

  .checkboxItem {
    display: flex;
    align-items: center;
    column-gap: 4px;
    width: fit-content;
    line-height: 1;
    cursor: pointer;

    &:not(:last-of-type) {
      margin-bottom: 16px;
    }
  }

  .span {
    color: white;
  }

  .checkbox {
    appearance: none;
    position: relative;
    width: 15px;
    height: 15px;
    border: 1px solid #e15544;
    border-radius: 2px;
    cursor: pointer;

    &:checked {
      background-color: #02f4bf;

      &::after {
        content: "";
        position: absolute;
        top: 3px;
        left: 3px;
        width: 6px;
        height: 3px;
        border-bottom: 2px solid #e15544;
        border-left: 2px solid #e15544;
        transform: rotate(-45deg);
      }
    }

    &:hover {
      background-color: #02f4bf;
    }
  }

  .privacy-highlight {
    color: #e15544;
  }

  .confirmationSection {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  .privacyTwo {
    color: #e15544;
  }

  .confirmationSectionWrapper {
    display: flex;
    align-items: start;
    gap: 8px;
  }

  .input-container {
    position: relative;
    width: 100%;

    input,
    textarea {
      &::placeholder {
        color: #999;
        font-size: 12;
        transition: color 0.3s ease;
      }

      &:focus {
        &::placeholder {
          color: transparent;
        }
      }
    }

    .validation-message {
      position: absolute;
      left: 10px;
      top: 50%;
      transform: translateY(-50%);
      color: #e15544;
      font-size: 14px;
      pointer-events: none;
    }
  }

  @media screen and (max-width: 1440px) {
    .contactInformations {
      gap: 20px;
      width: 45%;
    }

    .checkBoxSection {
      flex-direction: column;
      justify-content: center;
    }

    #name,
    #email {
      width: 100%;
      height: 40px;
    }

    .textarea {
      width: 45%;
      height: 40px;
      justify-content: center;
    }

    textarea {
      width: 100%;
      height: 40px;
    }
  }

  @media screen and (max-width: 1024px) {
    .contactInformations {
      gap: 20px;
      width: 45%;
    }

    .contactFormWrapper {
      gap: 20px;
      width: 100%;
      align-items: center;
      flex-direction: column;
    }

    .checkBoxSection {
      flex-direction: column;
      justify-content: center;
    }

    #name,
    #email {
      width: 100%;
      height: 40px;
    }

    .textarea {
      width: 45%;
      height: 40px;
      justify-content: center;
    }

    textarea {
      width: 100%;
      height: 40px;
    }
  }

  @media screen and (max-width: 768px) {
    .contactInformations {
      gap: 20px;
      width: 45%;
    }

    .contactFormWrapper {
      gap: 20px;
      width: 100%;
      align-items: center;
      flex-direction: column;
    }

    .checkBoxSection {
      flex-direction: column;
      justify-content: center;
    }

    #name,
    #email {
      width: 100%;
      height: 40px;
    }

    .textarea {
      width: 45%;
      height: 40px;
      justify-content: center;
    }

    textarea {
      width: 100%;
      height: 40px;
    }
  }

  @media screen and (max-width: 500px) {
    .contactInformations {
      gap: 20px;
      width: 45%;
    }

    .contactFormWrapper {
      gap: 20px;
      width: 100%;
      align-items: center;
      flex-direction: column;
    }

    .checkBoxSection {
      flex-direction: column;
      justify-content: center;
    }

    #name,
    #email {
      width: 100%;
      height: 40px;
    }

    .textarea {
      width: 45%;
      height: 40px;
      justify-content: center;
    }

    textarea {
      width: 100%;
      height: 40px;
    }
  }
}
