<div class="contactForm">
    <form name="contactForm" (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">
        <div>
            <div class="contactFormWrapper">
                <div class="contactInformations">
                    <div class="input-container">
                        <input #name="ngModel" [(ngModel)]="contactData.name" type="text" id="name" name="name"
                            (focus)="setFocus('name', true, name)" (blur)="setFocus('name', false, name)"
                            [attr.placeholder]="!contactData.nameFocused ? '' : ('contactform.name' | translate)"
                            minlength="2" required pattern=".{2,}">
                        <span class="validation-message"
                            *ngIf="!name.valid && name.touched && !contactData.nameFocused && !isFormValidName">
                            {{'contactform.nameValidation' | translate}}
                        </span>
                    </div>
                    <div class="input-container">
                        <input #mail="ngModel" [(ngModel)]="contactData.email" type="email" name="email" id="email"
                            (focus)="setFocus('email', true, mail)" (blur)="setFocus('email', false, mail)"
                            [attr.placeholder]="!contactData.emailFocused ? '' : ('contactform.mail' | translate)"
                            required pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}">
                        <span class="validation-message"
                            *ngIf="!mail.valid && mail.touched && !contactData.emailFocused && !isFormValidEmail">
                            {{'contactform.emailValidation' | translate}}
                        </span>
                    </div>
                </div>
                <div class="textarea">
                    <div class="input-container">
                        <textarea class="messageBoxBig" #message="ngModel" minlength="4"
                            [(ngModel)]="contactData.message" name="message" id="message"
                            (focus)="setFocus('message', true, message)" (blur)="setFocus('message', false, message)"
                            [attr.placeholder]="!contactData.messageFocused ? '' : ('contactform.message' | translate)"
                            required pattern=".{4,}"></textarea>
                        <span class="validation-message"
                            *ngIf="!message.valid && message.touched && !contactData.messageFocused && !isFormValidMessage">
                            {{'contactform.messageValidation' | translate}}
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="checkBoxSection">
            <div class="confirmationSection">
                <div class="confirmationSectionWrapper">
                    <label class="checkboxItem">
                        <input (change)="checkCheckbox($event)" type="checkbox" name="checkbox" class="checkbox" />
                    </label>
                    <p>{{'contactform.privacyOne' | translate}}
                        <a (click)="navigateToPrivacyPolicy($event)" class="privacyTwo">
                            {{'contactform.privacyTwo' | translate}}
                        </a>
                        {{'contactform.privacyThree' | translate}}
                    </p>
                </div>
            </div>
            <div class="sendBtn">
                <input class="sendbutton" type="submit" [value]="'contactform.send' | translate"
                    [disabled]="isButtonDisabled">
                <div class="arrowUp">
                    <svg (click)="scrollToTop()" viewBox="0 0 22 50" xmlns="http://www.w3.org/2000/svg">
                        <path d="M9.58575 4.9366L2.67354 11.2396C2.29178 11.5877 1.7077 11.5877 1.32595 11.2396L0.810337
                        10.7694C0.375397 10.3728 0.375397 9.68822 0.810337 9.29161L10.3262 0.61441C10.708 0.266304 11.292 0.266304
                        11.6738 0.61441L21.1897 9.29161C21.6246 9.68822 21.6246 10.3728 21.1897 10.7694L20.6741 11.2396C20.2923
                        11.5877 19.7082 11.5877 19.3265 11.2396L12.4142 4.9366L12.4142 49C12.4142 49.5523 11.9665 50 11.4142
                        50H10.5858C10.0335 50 9.58575 49.5523 9.58575 49L9.58575 4.9366Z" />
                    </svg>
                </div>
            </div>

            <div class="feedback-message" *ngIf="showFeedback">
                {{ 'contactform.feedbackMessage' | translate }}
            </div>
        </div>
    </form>
</div>