.footerWrapper {
  height: 196px;
  max-width: 1440px;
  width: 100%;
  padding-top: 5px;
  padding-inline: 50px;
  margin-inline: auto;
}

.footerContent {
  display: flex;
  justify-content: space-between;
  height: 180px;
  padding-top: 50px;
}

.contactInformation,
.socialsResponsive {
  display: none;
}

.MidPartFooter {
  display: flex;
  color: #e15544;
  font-size: 23px;
  font-weight: 400;
  line-height: 27.6px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 20px;
  gap: 10px;
  a {
    text-decoration: none;
    font-size: 14px;
    line-height: 16.8px;
    color: #e15544;
    padding: 5px 10px 5px 10px;
    gap: 3px;
  }
}

.leftFooter {
  p {
    color: #e15544;
  }
  img {
    cursor: pointer;
    width: 110px;
    height: 51pxe;
  }
}

.legalBlock {
  display: flex;
  gap: 1rem;

  :hover {
    color: #02f4bf;
  }
}

.socials {
  width: 154px;
  height: 38px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}
.githubIcon,
.mailIcon,
.linkedInIcon {
  fill: #e15544;
  &:hover {
    fill: #02f4bf;
  }
}

@media screen and (max-width: 975px) {
  .MidPartFooter h2 {
    font-size: 20px;
  }
  .leftFooter img {
    width: 80px;
    height: 41px;
  }

  p {
    font-size: 14px;
  }
}

@media screen and (max-width: 768px) {
  .footerWrapper {
    height: fit-content;

    .footerContent {
      display: flex;
      justify-content: center;
      align-items: center;
      padding-top: 30px;
      flex-direction: column;
      height: fit-content;

      h2 {
        font-size: 20px;
      }
    }
  }
  .leftFooter {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 8px;
    p {
      display: none;
    }

    // margin-top: 200px;
  }
  .socialsResponsive {
    display: flex;
    margin-block: 50px;
    gap: 25px;
  }
  .MidPartFooter {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 10px;
    text-align: center;
  }

  .legalBlock {
    flex-direction: column;
    gap: 0.25rem;
    padding-block: 1.25rem;
  }
  .contactInformation {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;

    .mail,
    .Phone {
      display: flex;
      flex-direction: column;
      align-items: center;

      svg {
        margin-bottom: 5px;
        width: 24px;
        height: auto;
        fill: #e15544;
      }

      span {
        font-size: 14px;
        color: #02f4bf;
      }
    }
  }

  .Phone {
    text-decoration: none;
  }

  .socials {
    display: none;
  }
}

@media screen and (max-width: 801px) {
  .MidPartFooter {
    font-size: 20px;
  }
}
